body {
    background-color: rgb(217, 186, 245);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(242, 248, 158, 0.446);
}

img {
    width: 80px;
}

.nav-bar {
    width: 40%;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Archivo', sans-serif;
}

.opciones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.section-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.casilla {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.boton {
    width: 75%;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(79, 79, 221);
    color: white;
    border-width: 1px;
    text-align: center;
}

.section-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.div-caracteristicas {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    width: 30%;
}

.div-descripcion { 
    margin: 0 20px;
}

/* SECTION CONSOLAS */

.section-consolas {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.target {
    border: 1px solid black;
    text-align: center;
    margin: 12px;
    font-family: 'Archivo', sans-serif;
}

.consola {
    border-bottom: 1px solid black;
    padding: 5px 0;
    margin: 10px 0;
}

h4 {
    margin: 5px;
}

.especificaciones {
    padding: 10px;
}


button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    margin: 20px;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(194, 137, 244);
    padding: 15px;
}

.footer-list {
    margin: 0 5px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.list {
    margin: 3px;
    list-style-type: none;
}

h2 {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 25px;
}

h3 {
    font-size: 22px;
    font-family: 'Archivo', sans-serif;
}

/* Mobile */
@media (max-width: 480px) {
    header {
        display: none;
    }

    .section-principal {
        height: 20vh;
    }

    h2 {
        font-size: 15px;
        text-align: center;
    }

    .div-caracteristicas {
        width: 90%;
    }

    iframe {
        width: 90%;
    }

    .casilla {
        font-size: 12px;
        padding: 0 10px;
    }

    .boton {
        width: auto;
    }

    h3, p {
        font-size: 15px;
    }
    
    button {
        margin: 2px;
        font-size: 15px;
    }

    footer {
        margin: 0;
    }

    .footer-list, .copy {
        font-size: 10px;
    }

}

/* ipads, tablets */
@media (min-width: 481px) and (max-width: 768px) {
    header {
        display: none;
    }

    .section-principal {
        height: 20vh;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    .div-caracteristicas {
        width: 90%;
    }

    iframe {
        width: 90%;
    }

    .casilla {
        font-size: 13px;
    }

    .boton {
        width: auto;
    }

    h3, p {
        font-size: 20px;
    }
    
    button {
        margin: 2px;
        font-size: 15px;
    }
    
    footer {
        margin: 0;
    }

    .footer-list, .copy {
        font-size: 12px;
    }
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        justify-content: space-around;
    }

    img {
        width: 50px;
    }

    .nav-bar{
        width: 60%;
    }
    

    .div-caracteristicas {
        width: 80%;
    }


    .casilla {
        font-size: 13px;
    }

    .boton {
        width: auto;
    }

    
    button {
        margin: 2px;
        font-size: 15px;
    }
    
    footer {
        margin: 0;
    }

}


/* Desktops, large screen */
@media (min-width: 1025px) and (max-width: 1200px) {

    .div-caracteristicas {
        width: 60%;
    }
    
}


